<!DOCTYPE html>
<html>
<head>
    <title>Registrazione</title>
</head>
<body>
    <h2>Registrazione utente</h2>
    <form action="/register" method="post">
        <label for="name">Nome:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="surname">Cognome:</label><br>
        <input type="text" id="surname" name="surname" required><br><br>
        <input type="submit" value="Registrati">
    </form>
    <br>
    <a href="/users">Visualizza utenti registrati</a>
</body>
</html>
